footer {
    width: 100%;
    height: auto;

    padding: 2 5vw;
  

    background-color: #9FB17C;
    color: #4B3B40;

    display: flex;
    align-items: center;
    justify-content: center; 
}
 
.footerDiv {
    width: 30%;
}
.widgettitle{
    text-align: left;
    padding-left:5px;
    padding-right:10px;
}

.footerOne {
    width: 110%;
    height: auto;
    padding: 1 5vw;
    margin-left: 14vw;

    background-color: #9FB17C;
    color: #4B3B40;
    font-size: 3.5vw;
    
    align-items: center;
    justify-content: space-around;
} 

.footerOne H2 {
    font-size: 5vw;
}

.footerOne a:link {
   color: black;
   text-decoration: none;
   padding:5px;
   color:#4B3B40;
   transition: 200ms ease-in;
    
}
.footerOne a:active {
    color: #9FB17C;
    font-weight: bold;
    background-color:#4B3B40;
}

.footerOne a:focus {
    color: #9FB17C;
    font-weight: bold;
    background-color:#4B3B40;
}

.footerOne a:hover {
    color: #9FB17C;
    font-weight: bold;
    background-color:#4B3B40;
}

@media only screen and (min-width: 750px) {
    .footerOne {
        width: 100%;
        height: auto;

        padding: 0 5vw;
        margin-left: 0;

        font-size: 1.2vw;

        /* background-color#4B3B40
        color: #9FB17C; */

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footerOne H2 {
        font-size: 2vw;
    }

    

}
