* {
    box-sizing: border-box;
}
section{
    overflow:hidden;
    background-color: #9DB17C;
}
#blog {
    width: 100%;
    height: auto;
    /* padding: 9vh 9vw; */

    display: flex;
    flex-direction: column;
}

li{
    padding:0px;
    margin:0px;
    border:0px;
}

article {
    width: 100%;
    /* padding: 30px; */
    max-width: 100%;
    /* margin: 20px; */
    display:flex;
    flex-direction: column;
}

article img {
    max-width: 100%;
    margin-bottom: 10px;
}

.meta {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
}
.meta p{
    padding:0px 10px 0px 10px;
}

#line {
    border: 0.3rem solid #65724B;
    width: 99.5%;
    margin-bottom: 20px;
}

/* aside {
    margin-left: 10px;
    width: 25%;
}

#sidebar {
    background-color: #9DB17C;
    display: flex;

} */


li {
    margin-right: 5px;
    color: black;
}


/* .widettitle {
    padding: 50px;
} */

 a:link {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:visited {
    color: #4B3B40;
  }
  
  a:hover {
      color: #65724B;
  }
  
 
  bdi {
      color: #4B3B40;
      font-size: 19px;
  }

  article .title {
      color: #4B3B40;
      padding:10px;
  }

    .wc-block-grid,
    .wp-block-handpicked-products,
    .wc-block-handpicked-products,
    .has-3-columns,
    .has-multiple-rows {
        width:100%;


    }
    .add_to_cart_button:hover{
        color: white;
    }
    .add_to_cart_button:hover{
        background-color:#65724B;
        color: white;
    }
    li.wc-block-grid__product{
        
        width:95%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:20px;
        background-color:#9FB17C;
    }
    .wc-block-featured-category__wrapper{
        display:flex;
        align-items: center;

    }
    .wp-block-button, .aligncenter{
        display:flex;
        justify-content: center;
    }