.flex-wrapper {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

main h3 {
    padding: 2vh 0;
}

#divImg {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-items: center;
    overflow: hidden;
}

/* #imgMain {
    width: 100%;
    height: 100%;
} */

h1 {
    display: flex;
    justify-content: center;
    color: #4B3B40;
}

 #mainLine {
    margin-top: 0;
}

/*  .popDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap: ;
}  */


.product_list_widget ul{
    margin-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    max-width: 320px;
} 
 
.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.container {
    padding: 0;
}

.widgettitle {
    font-size: 15px;
    color: #4B3B40;
    font-weight: bold;
}

#bloggpuff {
    margin-top: 10px;
    background-color: #9FB17C;
    text-align: center;

}

#bloggpuff a {
    color: #4B3B40;
    text-decoration: none;
}
 /* li {
   display: flex;
   flex-direction: column;
   max-width: 320px;
   flex-wrap: wrap;
}  */


/* 
a:link {
    color: #4B3B40;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
      color: #65724B;
  }
  
  a:active {
    text-decoration: none;
  } 




