/* li containing product category menu */
#woocommerce_product_categories-2 {
    max-width: 100%;
    margin: 0;
}

/* search bar on dropdown within product category menu */
span.select2-search {
    display: none;
}

/* sets color of product category menu */
span.select2-selection__rendered {
    background-color: #c4c4c4;
    color: #4B3B40;
}

/* sets color of product category menu dropdown area */
ul.select2-results__options {
    background-color: #c4c4c4;
    color: #4B3B40;
}

/* the header that shows the chosen category */
.woocommerce-products-header {
    display: block !important;
    justify-content: unset !important;
}

/* category title within category header */
.woocommerce-products-header h1 {
    justify-content: unset !important;
}

/* category description within category header */
.term-description p {
    margin: 20px 0 !important;
}

/* removes dots infront of li-element */
ul.products {
    list-style: none;
}

/* removes dots infront of li-element */
ul.page-numbers {
    list-style: none;
}

/* removes dots infront of li-element */
#woocommerce_product_categories-2 {
    list-style: none;
}

/* sets padding of main-container (2.5% padding is the same as setting a width of 95% which matches rest of page) */
#primary {
    padding: 2.5%;
}

/* Displays product-cards */
.woocommerce-products-header {
    display: flex;
    align-items: center;

    margin-top: 1vh;
}

/* Displays product-cards */
.products.columns-4 { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0;
    margin-top: 3vh;
}

/* div to center pagination */
#pagination-div {
    display: flex;
    justify-content: center;
}

/* inner div to set width of pagination buttons */
.woocommerce-pagination {
    width: 15%;
    font-size: 20px;
}

/* styles ul-element of pagination */
.page-numbers {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
   /* inner div to set width of pagination buttons below 800px */
.woocommerce-pagination {
    width: 100%;
}

}