* {
    box-sizing: border-box;
}

#singleBlogg {
    width: 100%;
    height: auto;
    padding: 9vh 9vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* .postContainer {
    display: flex;
} */

.singlePost {
    display: flex;
} 


article {
    background-color: #9DB17C;
    width: 100%;
    padding: 30px;
    max-width: 100%;
    margin: 20px;
    Padding:0px;
    margin:0px;

}

article img {
    max-width: 100%;
    margin-bottom: 10px;
}

.meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    flex-wrap: wrap;
    text-decoration: none;
}
.meta p{
    padding:0px 5px 0px 5px;
}

/* aside {
    margin-left: 10px;
    width: 25%;
}

#sidebar {
    background-color: #9DB17C;
    display: flex;

} */


li {
    /* margin-right: 5px; */
    color: black;
}

/* .widettitle {
    padding: 50px;
} */

 a:link {
    color: #4B3B40;
    text-decoration: none;
  }
  
  a:visited {
    color: #4B3B40;
  }
  
  a:hover {
      color: #65724B;
  }
  
.add_to_cart_button:hover{
    background-color:#65724B;
    color: white;
  }
 
  bdi {
      color: #4B3B40;
      font-size: 19px;
  }

  article .title {
      color: #4B3B40;
  }

  @media ( max-width: 667px ) {

    #singleBlogg {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .single-post .title a {
        font-size: 25px;
    }
    
    article {
        background-color: #9DB17C;
        width: 100%;
        padding: 0px;
        max-width: 100%;
        margin: 0px;
    }
      
    
    }