/* Single-Products */

.superdiv{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.wp-post{
    width:25%;
    display:flex;
    justify-content:space-evenly;
}

.wp-post-image{
    object-fit: contain;
    margin:0;

}


.product, .woocommerce-breadcrumb{
    max-width:90%;
    margin:0px 0px 0px 10px;
    display: flex;
    align-self: center;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
}
.product_title, .entry-title{
    align-items: flex-start;
}

.summary.entry-summary{
    margin-left:10px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    max-width:100% ;
}

div.product, div.summary{
    width:100%;
}

.woocommerce-tabs, .wc-tabs-wrapper{
    display:inline;
}
.cart{
    justify-content: space-evenly;
}
.single_add_to_cart_button{
    width:200px;
    margin-top:10px;
    padding:10px 16px 10px 16px;
    font-weight: bold;
    color:#4B3B40;
    background-color:#9FB17C;
    border:none;
    transition: 200ms;

}
.single_add_to_cart_button:focus{
    background-color:#9CDE9F ;
}


.single_add_to_cart_button:hover{
    background-color:#65724B ;
}

.single_add_to_cart_button, button, .alt{
    background-color:#9FB17C;
}

.amount{
    color:#4B3B40;
    font-size: 2em;
}
.input-text, .qty, .text{
    width:200px;
    padding:6px;
    font-weight: bold;
    border:none;
    
}
#reviews{
    display: flex;
    width:280px;
    flex-direction: column;
    justify-content: flex-start;
}

textarea{
    width:100%;
    height:100%;
    padding:5px;
    background-color:#C7C3C3;
    border:none;
}
input{
    padding:10px;
    background-color:#C7C3C3;
    border:none;
}

#submit{
    font-weight: bold;
    color:#4B3B40;
    background-color:#9FB17C;
    transition: 200ms;
}
#submit:focus{
    background-color:#9CDE9F ;
}
#submit:hover{
    background-color:#65724B ;
}

h2{
    width:100%;
}

.related{
    width:100%;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top:1px solid black;
}

.products, .columns-4{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
}


.product li{
    margin:2em 1em 2em 1em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.woocommerce-tabs, .wc-tabs-wrapper{
    margin:10px;
}

.product_type_simple{
    margin-left:10px;
    display: flex;
    flex-direction: column;
}
.product_title, .entry-title{
    margin:5px 0px 0px 0px;
}

.woocommerce-Reviews-title{
    margin:10px 0px 0px 0px;
}

.tabs, .wc-tabs, ul {
    display:flex;
    flex-direction: row;
}